<a href="https://colab.research.google.com/github/dvisionst/renaming_deleting_-_missing_data/blob/main/Renaming_Deleting_%26_Missing_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Renaming, Deleting, & Missing Data (Practice)
- Jose Flores
- 6/29/2022

In [ ]:
import pandas as pd

In [31]:
# Import the data as a Pandas DataFrame. Name the DataFrame bike_df. 
# Then, complete the following:

# Delete the unnecessary columns:
# Unnamed: 7
# Unnamed: 8
# Unnamed: 9

bike_df = pd.read_excel('/content/RailsToTrails_National Count Data_week.xlsx')
print(bike_df.keys()) # This line added in order to copy unwanted column names

bike_df = bike_df.drop(columns=['Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9'])
bike_df.head()

Index(['Timeframe', 'Week of', ' 2019 counts (31 counters)',
       ' 2020 counts (31 counters)', '2021 Counts', 'Change 2019-2020',
       'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9'],
      dtype='object')

,Timeframe,Week of,2019 counts (31 counters),2020 counts (31 counters),2021 Counts,Change 2019-2020,Unnamed: 6
0,Week 1,2020-12-30,167679.0,183546.0,NaN,0.094627,1.094627
1,Week 2,2020-01-06,82340.0,97140.0,NaN,0.179743,117.974253
2,Week 3,2020-01-13,62315.0,75782.0,NaN,0.216112,121.611169
3,Week 4,2020-01-20,75801.0,83809.0,NaN,0.105645,110.564504
4,Week 5,2020-01-27,75841.0,94738.0,NaN,0.249166,124.916602

In [32]:
# 2. Rename the Unnamed: 6 column to percent_change
bike_df = bike_df.rename(columns={'Unnamed: 6': 'percent_change'})
bike_df.head()

,Timeframe,Week of,2019 counts (31 counters),2020 counts (31 counters),2021 Counts,Change 2019-2020,percent_change
0,Week 1,2020-12-30,167679.0,183546.0,NaN,0.094627,1.094627
1,Week 2,2020-01-06,82340.0,97140.0,NaN,0.179743,117.974253
2,Week 3,2020-01-13,62315.0,75782.0,NaN,0.216112,121.611169
3,Week 4,2020-01-20,75801.0,83809.0,NaN,0.105645,110.564504
4,Week 5,2020-01-27,75841.0,94738.0,NaN,0.249166,124.916602

In [33]:
# 3. How many missing values are in the dataset? Which columns are they in?
bike_df.isna().sum()
# Answer: There are 52 missing values in the 2021 counts column

Timeframe                      0
Week of                        0
 2019 counts (31 counters)     0
 2020 counts (31 counters)     0
2021 Counts                   52
Change 2019-2020               0
percent_change                 0
dtype: int64

In [34]:
# Fill all missing values in the 2021 Counts column with 0.
bike_df['2021 Counts'].fillna(0, inplace=True)
bike_df.isna().sum() # to confirm that data set has 0 missing values

Timeframe                     0
Week of                       0
 2019 counts (31 counters)    0
 2020 counts (31 counters)    0
2021 Counts                   0
Change 2019-2020              0
percent_change                0
dtype: int64

In [35]:
# Optional/Bonus: There is a challenging but common issue in the name for 
# the 2019 counts column. Can you find it?
# If so, Rename the 2019 counts 
# (31 counters) column to "counts_2019" (a more Pythonic column name)

bike_df = bike_df.rename(columns={' 2019 counts (31 counters)': 'counts_2019',
                        ' 2020 counts (31 counters)': 'counts_2020',
                        '2021 Counts': 'counts_2021'
                        })                       

bike_df.head()

,Timeframe,Week of,counts_2019,counts_2020,counts_2021,Change 2019-2020,percent_change
0,Week 1,2020-12-30,167679.0,183546.0,0.0,0.094627,1.094627
1,Week 2,2020-01-06,82340.0,97140.0,0.0,0.179743,117.974253
2,Week 3,2020-01-13,62315.0,75782.0,0.0,0.216112,121.611169
3,Week 4,2020-01-20,75801.0,83809.0,0.0,0.105645,110.564504
4,Week 5,2020-01-27,75841.0,94738.0,0.0,0.249166,124.916602

## Optional/Bonus: 
There is a challenging but common issue in the name for 
the 2019 counts column. Can you find it?

Answer: It is all of the spaces in the column name, it makes it harder to use certian methods/code. For example you can't look at the series by using the dot method ie: df.column name <- will populate error because of the space.

Therefore, I changed the column names for the three counter years, 2019, 2020, and 2021 for uniformity.